//8px
:root {
  --text-rgb-79-85-90: rgba(79, 85, 90, 1);
}

.text-rgb-79-85-90 {
  color: var(--text-rgb-79-85-90);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.vector-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1.679482340812683px solid rgba(22, 120, 242, 1);
  border: none;
  outline: none;
}

.vector-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1.679482340812683px solid rgba(22, 120, 242, 1);
  border: none;
  outline: none;
}

.mark-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.line-rounded-mark-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.spacer-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
}

.spacer-icon-wrapper-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-satoshi);
  font-weight: normal;
  font-size: 21.59334373474121px;
  line-height: 35.98890686035156px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-85-90);
}

.8px-1 {
@media (max-width: 1440px) {
  .8px-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .8px-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 9.597042083740234px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 270.656494140625px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}