:root {
  --font-family-poppins: 'Poppins', sans-serif;
  --text-black: rgba(0, 0, 0, 1);
  --text-white: rgba(255, 255, 255, 1);
}

.text-black {
  color: var(--text-black);
}

.text-white {
  color: var(--text-white);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.rectangle-47-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.20000000298023224;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-38-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.20000000298023224;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-37-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.calender-no-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-4-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-5-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-6-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-24-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-12-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-11-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-10-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-32 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-9-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-36 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-8-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-7-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-25-21 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-42 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-18-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-17-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-48-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(97, 100, 206, 1);
}

.text-49 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.component-16-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 11px;
}

.rectangle-47-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-15-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-54 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-55 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-14-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-57 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-58 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-13-56 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-26-40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-61 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-62 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-24-60 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-65 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-23-63 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-67 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-68 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-22-66 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-70 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-71 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-21-69 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-73 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-74 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-20-72 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-76 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-77 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-19-75 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-27-59 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-80 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-81 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-30-79 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-83 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-84 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-29-82 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-86 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-87 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-28-85 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-89 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-90 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-27-88 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-92 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-93 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-26-91 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-95 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-96 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-25-94 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-28-78 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-99 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-100 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-36-98 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-102 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-103 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-35-101 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-105 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-106 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-34-104 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-108 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-109 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.20000000298023224;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-39-107 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-111 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-112 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.20000000298023224;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-40-110 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-47-114 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.text-115 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.20000000298023224;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.component-41-113 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-29-97 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-30-1 {
@media (max-width: 1440px) {
  .frame-30-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .frame-30-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 365.7398986816406px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
}